soap-client/src/main/resources/wsdl/employee.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="https://myspace.com/employee"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://myspace.com/employee"
                  targetNamespace="https://myspace.com/employee">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                    targetNamespace="https://myspace.com/employee">

            <xsd:element name="getEmployeeRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getEmployeeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="employee" type="tns:employee"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="employee">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int"/>
                    <xsd:element name="name" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getEmployeeResponse">
        <wsdl:part element="tns:getEmployeeResponse" name="getEmployeeResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEmployeeRequest">
        <wsdl:part element="tns:getEmployeeRequest" name="getEmployeeRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EmployeePort">
        <wsdl:operation name="getEmployee">
            <wsdl:input message="tns:getEmployeeRequest" name="getEmployeeRequest">
            </wsdl:input>
            <wsdl:output message="tns:getEmployeeResponse" name="getEmployeeResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmployeePortSoap11" type="tns:EmployeePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getEmployee">
            <soap:operation soapAction=""/>
            <wsdl:input name="getEmployeeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getEmployeeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EmployeePortService">
        <wsdl:port binding="tns:EmployeePortSoap11" name="EmployeePortSoap11">
            <soap:address location="/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>